<div class="container">
	<select name="teamSelect" id="teamSelect" ng-model="selectedTeam" ng-change="updateDisplay()">
		<div >
			<option ng-repeat="team in teams" ng-value="team.code" >{{team.code}}</option>
		</div>
	</select>

	<select name="yearSelect" id="yearSelect" ng-model="selectedYear" ng-change="updateDisplay()">
		<div >
			<option ng-repeat="year in years" ng-value="year" >{{year}}</option>
		</div>
	</select>

	<div>
		Team: {{selectedTeam}}
		Year: {{selectedYear}}
	</div>

	<canvas tc-chartjs chart-type="Spie" chart-data="players" chart-options="options" ></canvas>
</div> <!-- /container -->
