<div class="container">

	<div class="page-header">
		<h1>Receiver Stats Visualized</h1>
		<p class="lead">A visual analysis of teams' offensive production over the last 10 years.</p>
	</div>

	<h3>Production Visualized in Spie Charts</h3>
	<p>The following spie charts show receiving yards per wide receiver, with YAC indicated by the outer slice on each segment. The width of each segment is based on the relative number of receptions, the length of each segment is based on the relative number of receiving yards.</p>

	<div class="row">
		<div ng-repeat="chart in display" ng-class="'col-md-' + (12 / display.length)">
			<div id="canvas-holder" style="margin: auto; display: block; height:40%">
				<canvas tc-chartjs chart-type="Spie" chart-data="chart.receivers" chart-options="options" width="200px" height = "250px"></canvas>
			</div> 
		</div>
	</div>

	
	<div class="row">
		<div ng-repeat="chart in display" ng-class="'col-md-' + (12 / display.length)">
			
			<div  style="text-align: center;">
				<% include selectors.ejs %>
			</div>
		</div>
	</div>


	<h3>Notes</h3>
	<% include notes.ejs %>

	<hr>
</div> <!-- /container -->