
<div class="container">

	<div class="page-header">
		<h1>Receiver Stats Visualized</h1>
		<p class="lead">A visual analysis of teams' offensive production over the last 10 years.</p>
	</div>

	<h3>Three Years of YAC</h3>
	<p>The following spie charts show receiving yards per wide receiver, with YAC indicated by the outer slice on each segment. The width of each segment is based on the relative number of receptions, the length of each segment is based on the relative number of receiving yards.</p>

	<div class="row">
		<div class="col-md-4">
			<div id="canvas-holder" style="width:100%">
				<canvas tc-chartjs chart-type="Spie" chart-data="players" chart-options="options" ></canvas>
			</div>
			<div style="text-align: center;">

				<select name="teamSelect" id="teamSelect" ng-model="selectedTeam" ng-change="updateDisplay()">
					<div>
						<option ng-repeat="team in teams" ng-value="team.code" >{{team.code}}</option>
					</div>
				</select>

				<select name="yearSelect" id="yearSelect" ng-model="selectedYear" ng-change="updateDisplay()">
					<div >
						<option ng-repeat="year in years" ng-value="year" >{{year}}</option>
					</div>
				</select>

			</div>
		</div>
		<div class="col-md-4">
			<div id="canvas-holder" style="width:100%">
				<canvas tc-chartjs chart-type="Spie" chart-data="players" chart-options="options" ></canvas>
			</div>
			<div style="text-align: center;">

				<select name="teamSelect" id="teamSelect" ng-model="selectedTeam" ng-change="updateDisplay()">
					<div>
						<option ng-repeat="team in teams" ng-value="team.code" >{{team.code}}</option>
					</div>
				</select>

				<select name="yearSelect" id="yearSelect" ng-model="selectedYear" ng-change="updateDisplay()">
					<div >
						<option ng-repeat="year in years" ng-value="year" >{{year}}</option>
					</div>
				</select>

			</div>
		</div>
		<div class="col-md-4">
			<div id="canvas-holder" style="width:100%">
				<canvas tc-chartjs chart-type="Spie" chart-data="players" chart-options="options" ></canvas>
			</div>
			<div style="text-align: center;">

				<select name="teamSelect" id="teamSelect" ng-model="selectedTeam" ng-change="updateDisplay()">
					<div>
						<option ng-repeat="team in teams" ng-value="team.code" >{{team.code}}</option>
					</div>
				</select>

				<select name="yearSelect" id="yearSelect" ng-model="selectedYear" ng-change="updateDisplay()">
					<div >
						<option ng-repeat="year in years" ng-value="year" >{{year}}</option>
					</div>
				</select>

			</div>
		</div>
	</div>


	<h3>Notes</h3>
	<p class="text-warning">It's hard to visualize YAC for running backs, because the stats produced by various outlets always shows a much higher YAC than the number of receptions. I'm not entirely sure why this is, but it means that this visualization shows all running back yards as consisting entirely of YAC.</p>
	<p class="text-warning">The data is from receiving stats, so if a player was traded half-way through a season they are not included (the data would mark their team as GB/BUF, for example, making it impossible to tell where the yards were produced.</p>

	<hr>



    </div> <!-- /container -->