<div class="container">
      
      <select name="teamSelect" id="teamSelect" ng-model="selectedTeam">
      <div ng-repeat="team in teams">
          <option ng-repeat="team in teams" ng-value="team.short" >{{team.name}}</option>
      </div>
   
    </select>

       <div>
        {{selectedTeam}}
      </div>


      <div ng-repeat="player in players">
        <span style="font-size:20px; margin-left:10px;">
        {{player}}
        </span>
      </div>



      <canvas tc-chartjs chart-type="Spie" chart-data="players" chart-options="options" width="350" height="350"></canvas>
</div> <!-- /container -->
