<p class="text-warning">It's hard to visualize YAC for running backs, because the stats produced by various outlets always shows a much higher YAC than total yardage. This may be because YAC can start from behind the line of scrimmage, whereas yardage doesn't, but it means that this visualization typicallyshows all running back yards as consisting entirely of YAC.</p>

<p class="text-warning">The data is from receiving stats, so if a player was traded half-way through a season they are not included (the data would mark their team as GB/BUF, for example, making it impossible to tell where the yards were produced).</p>

<p class="text-warning">I couldn't find recorded YAC stats prior to 2006, hence the data stopping there.</p>