<select name="teamSelectA" id="teamSelectA" ng-model="chart.selectedTeam" ng-change="updateDisplay()">
<div>
<option ng-repeat="team in teams" ng-value="team.code" >{{team.code}}</option>
</div>
</select>

<select name="yearSelectA" id="yearSelectA" ng-model="chart.selectedYear" ng-change="updateDisplay()">
<div >
<option ng-repeat="year in years" ng-value="year" >{{year}}</option>
</div>
</select>
<span ng-show="display.length > 1" ng-click="removeEntry(chart.selectedTeam, chart.selectedYear)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<span ng-show="display.length < 3" ng-click="addEntry(chart.selectedTeam, chart.selectedYear)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
